<!DOCTYPE html>
<html lang="en">
  <body>
    <p>Thank you for registering with <strong>{{ loc.org_name }}</strong>! The link below will confirm your email address.
        <br>
        <a href="{{ redirect_link }}">{{ redirect_link }}</a>
    </p>
    <p>In order to complete your registration, you must sign up with our parent organization, {{ loc.admin_org }}.
        You can do so at the link below:
        <br>
        <a href="{{ signup_link }}">{{ signup_link }}</a>
    </p>
  </body>
</html>