Dankjewel voor het registreren bij {{ loc.org_name }}! De link hieronder bevestigt je e-mailadres.

{{ redirect_link }}

Voordat het bestuur je inschrijving kan bevestigen, is het nodig dat je ingeschreven bent bij onze moedervereniging, {{ loc.admin_org }}. Dit kun je doen via de link hieronder.

{{ signup_link }}