<!DOCTYPE html>
<html lang="en">
  <body>
    <p>Thank you for registering with {{ loc.org_name }}! The link below will confirm your email address and redirect you to the signup page. Thank you!
        <br>
        <a href="{{ redirect_link }}">{{ redirect_link }}</a>
    </p>
  </body>
</html>