The board has confirmed your registration with {{ loc.admin_org }}, so you are now officially a member of {{ loc.org_name }}!

In order to better serve you, we ask you to register on our website as well! We have generated the following registration link for you:

{{ register_link }}