<!DOCTYPE html>
<html lang="en">
  <body>
    <p>The board has confirmed your registration with {{ loc.admin_org }}, so you are now officially a member of {{ loc.org_name }}!
    </p>
    <p>In order to better serve you, we ask you to register on our website as well! We have generated the following registration link for you:
        <br>
        <a href="{{ register_link }}">{{ register_link }}</a>
    </p>
  </body>
</html>