@import "variables";

.forgotPassword {
  width: fit-content;
  border: none;
  margin:0 auto;
  padding:0;
  background-color: transparent;
  font-weight: normal;
  text-decoration: underline;
  color: white;
  text-align: center;
  font-size: $font_medium;
  cursor: pointer;
}

.forgotPassword:hover {
  background-color: transparent;
  color: white;
}