code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body, input, textarea, button {
  font-family: 'Fira Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title {
  text-align: center;
  font-size: 4em;
  margin: 0.8em 0 0;
  color: #ffffff;
}

.largeText {
  text-align: center;
  font-size: 2em;
  margin: 0.6em 0 0;
  color: #ffffff;
}

input {
  width: 40%;
  height: 1.8em;
  justify-content: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  padding: 0.7rem;
  border: none;
  outline: none;
  border-radius: 5px;
  background: #ffffff;
  color: #001f48;
  font-size: 1rem;
  font-weight: bold;
}

input::placeholder {
  color: #193459;
  font-weight: normal;
}

button{
  width: 40%;
  height: 3em;
  margin: 1em auto;
  justify-content: center;
  display: block;
  color: #f8f5f5;
  background: #CB4B3D;
  font-size: 1em;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover{
  background: #ffffff;
  color: #CB4B3D;
}

body {
  background-color: #001f48;
  margin: 0;
}

.container {
  display: flex;
  max-width: 63rem;
  margin: 0 auto 0;
  flex-direction: row;
}

.containerC {
  width: 5rem;
}

.page {
  display: flex;
  max-width: 53rem;
  margin: 0;
  flex-grow: 1;
  padding: 0 1rem 0;
  flex-direction: column;
  height: 100vh;
}

.backButton svg {
  margin-top: 1rem;
  display: block;
  cursor: pointer;
}

.auth-form {
  margin-top: 18vh;
}