@import "variables";

html {
  font-family: arboria, sans-serif;
}

body {
  background-color: $dodeka_blauw90p;
  margin: 0px;
  padding: 0px;
  
}

p {
  margin: 0;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.backend_page {
  min-height: 100vh;
  width: 100%;
}

.title {
  text-align: center;
  font-size: $font_large;
  color: #ffffff;
}

.titleBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.logo {
  width: 3rem;
  display: flex;
}

.logo path {
  fill: white;
}

.form_container {
  width: 100%;
}

.form {
  width: 80%;
  display: flex;
  flex-direction: column;
  // grid-template-columns: 1fr;
  // grid-auto-rows: 5.5rem;
  max-width: 32rem;
  margin: auto;
  margin-top: 2rem;

}

.form input {
  width: 100%;
  display: block;
  border-style: none;
  background-color: white;
  color: $dodeka_blauw;
  padding: 0.75rem;
  border-radius: 0.75rem;
  font-size: $font_medium;
  line-height: $line_height_medium;
  height: 3.5rem;
  margin: 0 0 2rem 0;
}

.form input:focus {
  outline: none;
}

button {
  width: 100%;
  background-color: $dodeka_rood;
  color: white;
  border-radius: 0.75rem;
  border: none;
  padding: 1rem;
  font-size: $font_medium;
  font-weight: $bold;
  cursor: pointer;
  height: 4rem; /* Set the specific height for the button */
}

button:hover{
  background: white;
  color:  $dodeka_rood;
}

.formStatus {
  font-size: $font_small;
  line-height: $line_height_small;
  color: $dodeka_rood;
  margin: 0 auto 2rem auto;
}

.formStatus a {
  color: white;
  text-decoration: none;
}

.largeText {
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  display: block;
  color: white;
  font-size: $font_medium;
  line-height: $line_height_medium;
  padding-top: 1.5rem;
  text-align: center;
}

$colors: #CB4B3D, #AC6611, #807904, #4C8530, #008A5F;

$start: 1;
$end: 5;

@for $i from $start through $end {
    .passBar#{$i} {
        color: nth($colors, $i);
        font-size: $font_small;
        line-height: $line_height_small;
        margin-bottom: 0.5rem;
    }
}

.form .formPassword {
  margin-bottom: 0.5rem !important;
}
