@import "variables";

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body, input, textarea, button {
  font-family: 'Fira Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title {
  text-align: center;
  font-size: 4em;
  margin: 0.8em 0 0;
  color: #ffffff;
}

a {
  color: $dodeka_rood;
}

.largeText {
  text-align: center;
  font-size: 1.3em;
  margin: 0.6em 0 0;
  color: #ffffff;
}

.authForm {
  width: 80%;
  background-color: $dodeka_blauw90p;
  border-radius: 0.75rem;
  margin: 3rem auto;
  padding: 2rem;
  @include respond(mobile) {
    width: auto;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem;
  }
}

.formContents {
  color: white;
  display: block;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  @include respond(mobile) {
    width: auto;
  }
}

.formContents input {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-style: none;
  background-color: white;
  color: $dodeka_blauw;
  padding: 0.5rem;
  border-radius: 0.75rem;
  font-size: $font_medium;
  line-height: $line_height_medium;
  margin-bottom: 0.5rem;
}

.formContents.password {
  margin-bottom: 0;
}

.formContents label {
  color: white;
  font-size: $font_small;
  line-height: $line_height_small;
}

.formContents input:focus {
  outline: none;
}

.formContents input[disabled] {
  color: #939393;
}

.formContents .submitted:invalid {
  outline: 0.2rem solid red;
}

button {
  margin-left: 25%;
  width: 50%;
  background-color: $dodeka_rood;
  color: white;
  border-radius: 0.75rem;
  border: none;
  padding: 1rem;
  font-size: $font_medium;
  font-weight: $bold;
  margin-top: 2rem;
  cursor: pointer;
}

button:hover{
  background: white;
  color:  $dodeka_rood;
}

.formStatus {
  font-size: $font_small;
  line-height: $line_height_small;
  color: $dodeka_rood;
  text-align: center;
  margin-bottom: 0;
}

body {
  background-color: #001f48;
  margin: 0;
}

.container {
  display: flex;
  max-width: 63rem;
  margin: 0 auto 0;
  flex-direction: row;
}

.containerC {
  width: 5rem;
}

.page {
  display: flex;
  max-width: 53rem;
  margin: 0;
  flex-grow: 1;
  padding: 0 1rem 0;
  flex-direction: column;
  height: 100vh;
}

.backButton svg {
  margin-top: 1rem;
  display: block;
  cursor: pointer;
}