code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body, input, textarea, button {
  font-family: 'Fira Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #A9B7C6;
}

.title {
  text-align: center;
  font-size: 5em;
  margin: 0.8em 0 0;
}

label{
  color: #c7c2c2;
  font-size: 1.3em;
  justify-content: center;
  display: flex;
  margin: 0.4em;
  font-weight: bold;
}
input {
  width: 60%;
  height: 1.8em;
  justify-content: center;
  display: flex;
  margin: 0.4em auto 0.5em;
  padding: 0.7em;
  border: none;
  outline: none;
  border-radius: 5px;
  background: #c7c2c2;
  color: #212020;
}

button{
  width: 60%;
  height: 3em;
  margin: 1em auto;
  justify-content: center;
  display: block;
  color: #f8f5f5;
  background: #3b3942;
  font-size: 1em;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover{
  background: #56545e;
}

body {
  background-color: #1a1a1c;
  margin: 0;
}

.page {
  display: flex;
  max-width: 53rem;
  margin: 0 auto 0;
  padding: 0 1rem 0;
  flex-direction: column;
  height: 100vh;
}

.icon-container {
  display: inline-block;
  vertical-align: middle;
}

.icon-container img, svg {
  display: block;
  margin: 0 auto;
}

.spacer {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
}

footer {
  width: 100%;
  font-size: smaller;
  text-align: center;
  height: 2.2em;
}

footer a {
  display: inline-flex;
  align-items: center;
  color: #717181;
  transition: color 0.1s ease-in-out;
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  color: rgb(88, 88, 88);
}

footer p {
  margin: 0;
}

footer .icon-container {
  font-size: 1.2em;
}

.auth-form {
  margin-top: 18vh;
}