@import "variables";

.checkbox {
    display: flex;
    line-height: $line_height_small;
}

.checkbox label {
    width: 100%;
    font-size: $font_small;
    line-height: $line_height_small;
}

.checkbox input {
    height: 1rem;
    width: 1rem;
    margin-top: 0.2rem;
    margin-right: 0.2rem;
    vertical-align: middle;
    cursor: pointer;
}

.dropdown {
    width: 100%;
}

.dropdown label {
    line-height: $line_height_medium;
}

.dropdown select {
    appearance: none;
    background-color: white;
    border-radius: 0.75rem;
    border: none;
    padding: 0.5rem;
    width: 100%;
    font-family: inherit;
    font-size: $font_medium;
    cursor: pointer;
    line-height: $line_height_medium;
    margin: 0 0 0.5rem;
}

.dropwdown input {
    width: 100%;
}

.inputHidden {
    display: none !important;
}

$colors: red, orange, yellow, chartreuse, lime;

$start: 1;
$end: 5;

@for $i from $start through $end {
    .passBar#{$i} {
        color: nth($colors, $i);
        margin-bottom: 0.5rem;
    }
}