@import "src/variables";

.regLink {
    color: $dodeka_rood;
    text-align: center;
    font-size: $font_medium;
    line-height: $line_height_medium;
    text-decoration: none;
}

.regLink a:visited {
    color: #812016;
}