@import "src/variables";

.forgotPassword {
  width: fit-content;
  border: none;
  margin: 0 auto 1rem;
  padding:0;
  background-color: transparent;
  font-weight: normal;
  text-decoration: underline;
  color: white;
  text-align: center;
  font-size: $font_medium;
  cursor: pointer;
}

.forgotPassword:hover {
  background-color: transparent;
  color: white;
}

.forgotForm {
  label {
    display: block;
    color: white;
    text-align: center;
    line-height: 1rem;
  }
  input {
    margin-top: 1rem;
    margin-bottom: 0;
  }
  button {
    margin: 1rem 30% 0;
    padding: 0.5rem;
    font-size: $font_small;
    width: 40%;
  }

  .okForgot {
    color: white;
  }
}