@import "src/variables";


.forgotPassword {
  width: 100%;
  border: none;
  padding:0;
  background-color: transparent;
  font-weight: normal;
  color: white;
  text-align: center;
  font-size: $font_medium;
  cursor: pointer;
}

.forgotPassword:hover {
  background-color: transparent;
  color: white;
}

.forgotLabel {
  display: block;
  color: white;
  font-size: $font_medium;
  line-height: $line_height_medium;
  text-align: center;
  height: 3.5rem;
  margin: 1rem 0;
}

.okForgot {
  color: white;
}
