@import "src/variables";

.forgotPassword {
  width: 100%;
  border: none;
  margin-top: 1rem;
  padding:0;
  background-color: transparent;
  font-weight: normal;
  color: white;
  text-align: center;
  font-size: $font_medium;
  cursor: pointer;
}

.forgotPassword:hover {
  background-color: transparent;
  color: white;
}

.forgotLabel {
  display: block;
  color: white;
  font-size: $font_medium;
  line-height: $line_height_medium;
  padding-bottom: 1.5rem;
  text-align: center;
  line-height: $line_height_medium;
}

.okForgot {
  color: white;
}
