@import "src/variables";

.maybeMistakeText {
    margin-top: -1rem;
}

.checkbox {
    display: flex;
    line-height: $line_height_small;
}

.checkbox label {
    width: 100%;
    font-size: $font_small;
    line-height: $line_height_small;
    color: white;
}

.dropdown label {
    width: 100%;
    font-size: $font_small;
    line-height: $line_height_small;
    color: white;
}

.checkbox input {
    height: 1rem;
    width: 1rem;
    vertical-align: middle;
    cursor: pointer;
}

.dropdown {
    width: 100%;
}

.dropdown label {
    line-height: $line_height_medium;
}

.dropdown select {
    appearance: none;
    background-color: white;
    border-radius: 0.75rem;
    border: none;
    padding: 0.5rem;
    width: 100%;
    font-family: inherit;
    font-size: $font_medium;
    cursor: pointer;
    line-height: $line_height_medium;
    margin: 0 0 2rem 0;
}

.dropwdown input {
    width: 100%;
}

.inputHidden {
    display: none !important;
}

.form p {
    color: white;
    font-size: $font_small;
    line-height: $line_height_small;
    margin-bottom: 1.5rem;
}

.buttonText {
    padding-top: 0.5rem;
    text-align: center;
    width: 95%;
}

.privacy_link {
    color: $dodeka_rood;
    text-decoration: none;
}

.privacy_link:hover {
    cursor: pointer;
    text-decoration: underline;
}